// Variables

$green: #00D900;
$red: #e74c3c;
$gray-darkest: #222;
$gray: #777;
$gray-lighter: #f7f7f7;
$placeholder-text: #bbbbbb;

$primary: $green;

// Media queries
$screen-sm: "only screen and (min-width: 768px)";
$screen-md: "only screen and (min-width:992px)";
$screen-xl: "only screen and (min-width:1200px)";
